body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #FFF7E7;
}

/* HEADER */
header {
    background: #FF6347;
    padding: 20px;
    text-align: center;
    font-size: medium;
}
header h1 {
    color: white;
    margin: 0;
    font-size: 32px;
}
.toko-img {
    margin-top: 10px;
    width: 260px;
    border-radius: 10px;
}
.deskripsi {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* LAYOUT UTAMA */
.container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* KIRI */
.left {
    flex: 2;
}

/* KANAN */
.right {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

/* PAKET GRID */
.paket-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 15px;
}
.card {
    background: #FFE2C6;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.card img {
    width: 100%;
    border-radius: 10px;
}

/* ALL MENU */
.menu-grid {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}
.menu-item {
    background: #FFF0D1;
    padding: 15px;
    border-radius: 10px;
}

/* FORM */
.order-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.order-form input,
.order-form select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #bbb;
}
.order-form button {
    background: #FF6347;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.order-form button:hover {
    background: #E3543D;
}

/* FOOTER */
footer {
    background: #FF6347;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

/* RESPONSIVE */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }

    .toko-img {
        width: 180px;
    }
}
